.main{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    padding :10px;
}
.image{
    flex: 0 0 100px;
    margin-right:20px;
    display:block;
    max-width:100px;
}